@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.winky-sans-<uniquifier> {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
    background: #01274d;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #01274d;
    margin-bottom: 25px;
}

h3 {
    color: #000000;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 18px;
    color: #444;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

#resultado {
    margin-top: 30px;
    padding: 20px;
    background: #eaf3ff;
    border-left: 5px solid #007bff;
    display: none;
}
